/*Basic Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*1vh = 1% of the screen height use in layout height*/
    padding: 1rem;  /*1rem = font size of root (html) used in text,spacing */
    font-family: sans-serif;
}
.container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /*box-shadow: x-offset y-offset blur spread color;*/
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}
/*screens*/
.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}
.screen.active{
    display: block;
}
/*start screen*/
#start-screen h1{
    color: #e86a33;
    margin-bottom: 20px; /*Adds gap below the element*/
    font-size: 2.5rem;
}
.quiz-header{
    margin-bottom: 2rem;
}
#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}
/*24.48*/